<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servers Dashboard</title>
</head>
<body>
    <h1>
        <a href="{% url 'cards:index' %}">Home</a> -  
        <a href="{% url 'cards:servers' %}">Servers</a>
    </h1>

    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <form id="logout-form" action="{% url 'users:logout' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %}
    
    {% block content %}
    {% endblock content %}    
</body>
</html>