{% extends "cards/base.html" %}

{% block content %}
    <div>
        <ul>
            {% for server in servers %}
                    <li>
                        <p>
                            {{ server.name }}
                        </p>
                    </li>
                    <li>
                        <p>
                            {{ server.ip }}
                        </p>
                    </li>
                    <li>
                        <p>
                            {{ server.up_date_time }}
                        </p>
                    </li>
                    <li>
                        <p>
                            {{ server.is_online }}
                        </p>
                    </li>
                    <a href="{% url 'cards:edit_server' server.id %}">Edit</a>
                    <a href="{% url 'cards:delete_server' server.id %}">Delete</a>
                    <br>
            {% empty %}
                <li>No servers available ¯\_(ツ)_/¯</li>
            {% endfor %}
        </ul>
        <a href="{% url 'cards:new_server' %}">Add a new server</a>
    </div>
{% endblock content %}